.gradient-background {
  background-image: linear-gradient(to bottom, #1a202c, #ffffff);
  background-size: 100% 6%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.flex-col {
  flex: 1;
  height: 100%;
  border: 1px solid #ffffff;
}
